:root {
    --md-sys-color-primary: rgb(62, 166, 204);
    --md-sys-color-primary-90: rgb(51, 132, 162);
    --md-sys-color-primary-80: #267997;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
    max-width: 100rem;
    margin-inline: auto;
    padding: 2rem 1rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 1rem;
    margin-top: 2rem;
}

p {
    line-height: 1.5;
}

button.requirements {
    all: unset;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: var(--md-sys-color-primary);
    border-radius: 0.125rem;
    user-select: none;
    font-size: 1rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.4);

    &:hover {
        background-color: var(--md-sys-color-primary-90);
    }

    &:active {
        background-color: var(--md-sys-color-primary-80);
    }
}

dialog {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    border-radius: 0.25rem;
    border: none;
    flex-direction: column;
    gap: 1rem;
    backdrop-filter: blur(0.25rem);

    color: white;
    background-color: rgba(0, 0, 0, 0.5);

    .actions {
        align-self: flex-end;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        span {
            display: contents;
            font-weight: 600;
            color: var(--md-sys-color-primary);
        }
    }

    p {
        display: flex;
        gap: 0.5rem;
        align-items: center;
    }

    &:open {
        display: flex;

        &::backdrop {
            background-color: rgba(0, 0, 0, 0.5);
        }
    }
}

.info {
    font-style: italic;
    color: #e0e0e0;
    font-size: .9rem;
    text-wrap: pretty;

    span {
        display: contents;
        font-weight: 600;
        color: var(--md-sys-color-primary);
    }
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    details {
        summary {
            font-weight: 600;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
            cursor: pointer;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
    }

    .slider-container {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        align-items: center;
        gap: 0.5rem;

        div {
            display: flex;
            gap: 0.5rem;
            align-items: center;
        }

        .count {
            display: flex;
            gap: 0.25rem;
            align-items: center;
            font-weight: 600;

            img {
                margin-top: 0.2rem;
            }
        }

        img.cost {
            filter: hue-rotate(-50deg);
        }

        img.sell {
            filter: hue-rotate(50deg);
        }

        img {
            display: block;
            background-color: #ececec;
            border: 1px solid black;
            box-shadow: inset 0 0 0 1px rgb(196, 59, 0), inset 0 0 1px 1px rgba(0, 0, 0, 0.59);
        }
    }
}

.outputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    details {
        padding: 0.75rem 1rem;
        border-radius: 0.25rem;

        background-color: rgba(0, 0, 0, 0.4);
        box-shadow: rgba(128, 181, 205, 0.25) 0px 1px 1px, rgba(255, 255, 255, 0.13) 0px 0px 1px 1px;

        &.negative {
            background-color: rgba(105, 0, 0, 0.4);
            box-shadow: rgba(205, 128, 128, 0.25) 0px 1px 1px, rgba(255, 0, 0, 0.13) 0px 0px 1px 1px;
            color: rgb(255, 181, 181);
        }

        .row p, .result {
            cursor: pointer;
            display: flex;
            gap: 0.25rem;
            align-items: center;

            font-size: 1rem;
            font-weight: 600;

            img {
                margin-top: 0.2rem;
                margin-right: 0.25rem;
            }

            span:last-child {
                margin-left: 0.5rem;
            }
        }

        summary {
            cursor: pointer;

            img {
                display: inline-block;
                margin-inline: 0.25rem;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        .row {
            display: grid;
            grid-template-columns: 8rem 1fr;
            align-items: center;
            gap: 0.25rem 0.5rem;
            border-radius: 0.25rem;
            padding: 0.25rem;

            p {
                font-size: 0.8rem;
                color: #e0e0e0;
                font-weight: 400;
    
                &.result {
                    font-style: normal;
                    font-size: 1rem;
                    color: rgb(255, 232, 157);
                    grid-row: span 2;
                    justify-self: flex-end;
                }

                &.reason {
                    font-style: italic;
                    color: rgb(255, 232, 157);
                }
            }


            &:nth-child(odd) {
                background-color: rgba(0, 0, 0, 0.25);
            }
            &:nth-child(even) {
                background-color: rgba(255, 255, 255, 0.05);
            }
        }

        .content {
            margin-top: 0.5rem;
        }

        &.optional {
            opacity: 0.7;
        }
    }
}